{% if has_image %}
<div class="layout flex flex--center bg-black">
  <img src="{{ image_url }}" class="w--full h--full image image--contain image-dither" alt="PromptInk Generated Image" />
</div>
{% else %}
<div class="layout layout--col gap--space-between">
  <div class="content content--center">
    <div class="title title--large">PromptInk</div>
    <div class="label label--medium">No image synced yet</div>
    <div class="label label--small">Generate an image and click sync</div>
  </div>
</div>
{% endif %}
